Package: libidssvfs
Version: 1.0.2
Architecture: amd64
Installed-Size: 208
Maintainer: NekoMimiOfficial <nekomimi@tilde.team>
Section: devel
Depends: libnmpp-dev
Priority: optional
Homepage: http://nekomimi.tilde.team
Description: C++ headers for the Initial D street stage vfs file extraction
